{% extends "layout.html.twig" %}

{% block title %}
	Mon compte
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="account">
		<div class="account-container">
			{% include '/account/account-nav.html.twig' %}
			<section class="account-content">
				<h1>Bienvenue
					{{ session.firstName }}
					{{ session.lastName }}
					!</h1>
					<p>Vous êtes connecté·e à votre compte. Vous pouvez modifier vos coordonnées, votre mot de passe et consulter l'ensemble de vos commandes et de leur avancement.</p>
					{% if order.articles is not empty %}
					<div class="orders">
						<div class="order">
							<a href="/account/orders/{{ order.id }}">Commande du <date>{{ order.niceDate }} ({{ order.diffDate }})</date></a><br><span>Total : {{ order.totalPrice }}&euro;</span>
						</div>
					</div>
					{% endif %}
			</section>
		</div>
	</main>
{% endblock %}
{% block javascript %}
	<script src="assets/js/account.js"></script>
{% endblock %}
