{% extends "layout.html.twig" %}

{% block title %}
    Mon compte
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="account">
        {% if session is defined and session is not null %}
        
            <h1>Bienvenue {{ session.firstName }} {{ session.lastName }} !</h1>

        <section>
            {# Formulaire pour modifier les données de l'utilisateur #}
            <h2>Modifier mes coordonnées</h2>
            <form action="index.php?route=update" method="post" class="update">
            <fieldset class="container">
                    <fieldset>
                        <label for="firstName">
                            Prénom
                        </label>
                        <input type="text" name="firstName" id="firstName" value="{{ session.firstName }}"/>
                    </fieldset>
                    <fieldset>
                        <label for="lastName">
                            Nom
                        </label>
                        <input type="text" name="lastName" id="lastName" value="{{ session.lastName }}"/>
                    </fieldset>
                    <fieldset>
                        <label for="email">
                            E-mail
                        </label>
                        <input type="email" name="email" id="email" value="{{ session.email }}"/>
                    </fieldset>
                    <fieldset >
                        <label for="password">
                            mot de passe
                        </label>
                        <input type="password" name="password" id="password" placeholder="nouveau mot de passe"/>
                    </fieldset>
                    <fieldset >
                        <label for="confirm-password" >
                            Confirmer le mot de passe
                        </label>
                        <input type="password" name="confirm-password" id="confirm-password" placeholder="confirmer le nouveau mot de passe"/>
                    </fieldset>
                    {% if error is defined %}
                        <p>{{ error }}</p>
                    {% endif %}
                    <fieldset>
                        <label for="address">
                            Adresse
                        </label>
                        <input type="text" name="address" id="address" value="{{ session.address }}"/>
                    </fieldset>
                    <fieldset>
                        <label for="city">
                            Ville
                        </label>
                        <input type="text" name="city" id="city" value="{{ session.city }}"/>
                    </fieldset>
                    <fieldset>
                        <label for="postalCode">
                            Code postal
                        </label>
                        <input type="number" name="postalCode" id="postalCode" value="{{ session.postalCode }}"/>
                    </fieldset>
                    <fieldset>
                        <label for="country">
                            Pays
                        </label>
                        <input type="text" name="country" id="country" value="{{ session.country }}"/>
                    </fieldset>
                    <fieldset>
                        <button type="submit" name="update">Modifier</button>
                    </fieldset>
                </fieldset>
            </form>
        </section>
        <section>
            {# toutes les commandes de l'utilisateur #}
            <h2>Toutes mes commandes</h2>
            <ul class="my-orders">
                {% if orders is not empty %}
                    {% for order in orders %}
                        <li>Commande n°{{ order.id }} date : {{ order.createdAt }}
                            <span class="plus">+</span>
                            <ul class="order-articles">
                                {% set orderArticles = ordersArticles[order.id] %}
                                {% if orderArticles is not empty %}
                                    {% for article in orderArticles %}
                                        <li>
                                            <a href="index.php?route=article&id={{ article.articleId.id }}">
                                                <p>{{ article.articleId.name }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>Aucun article trouvé pour cette commande.</li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>Aucune commande trouvée.</li>
                {% endif %}
            </ul>
        </section>

            <form action="index.php?route=delete" method="post" class="other-btns">
                <fieldset>
                    <input type="hidden" name="userId" value="{{ session.id }}" />
                    <button type="submit" name="delete">Supprimer</button>
                </fieldset>
            </form>
            
            <form action="index.php?route=logout" method="post" class="other-btns">
                <fieldset>
                    <button type="submit" name="logout">Se déconnecter</button>
                </fieldset>
            </form>
        {% else %}
            <h1>Pour continuer, vous devez être connecté</h1>
            <a class="btn-login" href="index.php?route=login">Se connecter</a>
            <a class="btn-register" href="index.php?route=register">S'inscrire</a>
        {% endif %}
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/account.js" defer></script>
{% endblock %}