{% extends "layout.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>
        <section class="banner">
                <h1>TimberWolf</h1>
                <button  class="btn-1" type="button"><a href="index.php?route=articles">Nos Produits</a></button>
        </section>

        <section class="top-sales">
            <h2>Nos meilleurs ventes</h2>
            {% for article in articles %}
            <a href="index.php?route=article&id={{ article.id }}">
                <article class="products">
                    <figure>
                        <img src="{{ article.image.getUrl() }}" alt= "{{ article.image.getAlt() }}"/>
                    </figure>
                    <p>{{article.name}}</p>
                    <p class="price">{{article.price}} €</p>
                </article>
            </a>
            {% endfor %}
        </section>
        <section id="about">
            <h2>A propos de nous</h2>
            
            <p>Nous sommes une équipe passionnée par les animaux et dévouée à fournir les meilleurs produits pour le bien-être de vos compagnons à quatre pattes.</p>
            
            <p>Nos horaires:</p>
            <ul>
                <li>Lundi : 10:00-19:00</li>
                <li>Mardi : 10:00-19:00</li>
                <li>Mercredi : 10:00-19:00</li>
                <li>Jeudi : 10:00-19:00</li>
                <li>Vendredi : 10:00-19:00</li>
            </ul>
            
            <h3>Nous situer</h3>
            <ul>
                <li>Esplanade du général de Gaulle</li>
                <li>Pont de buis-lès-Quimerch</li>
                <li>Code postal : 29590</li>
            </ul>
            <div id="map"></div>
            <p>Vous pouvez également nous contacter par téléphone au : <a href="tel:0298000000">02.98.00.00.00</a></p>
        </section>
        
    </main>
{% endblock %}

{% block javascript %}
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
</script>
<script src="assets/js/home.js" defer></script>
{% endblock %}