{% extends "layout.html.twig" %}

{% block title %}
	{{article.name}}
	{{ parent() }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="assets/OwlCarousel2-master/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/OwlCarousel2-master/dist/assets/owl.theme.default.min.css">
{% endblock %}

{% block main %}
	<main id="content" class="article" role="main">

		<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}" aria-hidden="true"/>

		<section class="article-item">
			<h1>{{ article.name }}</h1>
			<p class="short-desc">{{ article.shortDescription }}</p>

			{% if soldOut %}
				<button class="cart-button disabled btn-add-to-cart" data-article="{{ article.id }}" disabled aria-label="Rupture de stock">
					<span class="add-to-cart">Rupture de stock</span>
					<span class="added">ajouté</span>
					<i class="fas fa-shopping-cart"></i>
					<i class="fas fa-box"></i>
				</button>
			{% else %}
				<button class="cart-button btn-add-to-cart" data-article="{{ article.id }}" aria-label="Ajouter au Panier">
					<span class="add-to-cart" id='add'>Ajouter au Panier</span>
					<span class="added">ajouté</span>
					<i class="fas fa-shopping-cart"></i>
					<i class="fas fa-box"></i>
				</button>
			{% endif %}
			<p class="price">{{ article.price }}€</p>
			{% if averageGrade is defined and averageGrade != 0 %}
				<p class="average-grade">{{ averageGrade }}</p>
			{% endif %}
		</section>

		<table class="description-ingredients" aria-label="Description et ingredients">
			<thead>
				<tr>
					<td>
						<h3 class="btn-description">Description<h3></td>
							{% if article.category.getName() != "Jouets" %}
								<td>
									<h3 href="#table" class="btn-ingredients">Ingrédients<h3></td>
									{% endif %}
								</td>
							</tr>
						</thead>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="description">
						{{article.description | raw}}</td>
					<td class="ingredients">{{article.ingredients | raw}}</td>
				</tr>
			</tbody>
		</table>

		{% if comments is defined and comments != [] %}
			<section class="comments" aria-label="commentaires">
				<h2>Commentaires :</h2>
				<div class="owl-carousel-comments">
					{% for comment in comments %}
						<article class="comment">
							<h3>{{comment.userId.firstName}}</h3>
							<p class="grade">{{comment.grade}}</p>
							<p>{{comment.comment | raw}}</p>
						</article>
					{% endfor %}
				</div>
			</section>
		{% endif %}
	</main>
{% endblock %}

{% block javascript %}
	<script src="assets/js/article.js"></script>
	<script src="assets/js/slider-comments.js"></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="assets/OwlCarousel2-master/dist/owl.carousel.min.js"></script>
{% endblock %}
