{% extends "layout.html.twig" %}

{% block title %}
	Articles
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="articles" role="main">
		<section class="main-articles" aria-label="Resultat de la recherche">
			<h1>Résultats</h1>
			{% for article in articles %}
				<article class="card" aria-labelledby="title-{{ article.slug }}">
					<a href="/article/{{ article.slug }}">
						<figure class="card-img">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
						</figure>
						<h3 id="title-{{ article.slug }}" class="card-title">{{ article.name }}</h3>
						<p class="card-price">{{ article.price }}€</p>
					</a>
					{% if article.stock == 0 %}
						<p class="out-of-stock" aria-label="Rupture de stock">Rupture de stock</p>
					{% endif %}
				</article>
			{% endfor %}
		</section>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
