{% extends "layout.html.twig" %}

{% block title %}
	Articles
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="articles">
		<header>
			<h1>Résultats</h1>
		</header>
		<main>
			{% for article in articles %}
				{% if article.stock != 0 %}
					<article class="card">
						<a href="/article/{{ article.slug }}">
							<figure class="card-img">
								<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
							</figure>

							<span class="card-body">
								<h3 class="card-title">{{ article.name }}</h3>
								<p class="card-price">{{ article.price }}€</p>
							</span>
						</a>
					</article>
				{% else %}
					<article class="card">
						<figure class="card-img">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
						</figure>

						<span class="card-body">
							<h3 class="card-title">{{ article.name }}</h3>
							<p class="card-price">{{ article.price }}€</p>
						</span>
						<p class="out-of-stock">Rupture de stock</p>
					</article>
				{% endif %}
			{% endfor %}
		</main>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
