{% extends "layout.html.twig" %}

{% block title %}
    Articles
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="articles">
        <section class="all-products">
            <h1>Tous nos produits</h1>
            <form class="order" method="GET">
                <select class="order-by">
                    <option value="Trier par prix">Trier par prix croissant</option>
                    <option value="Trier par prix">Trier par prix décroissant</option>
                    <option value="Trier par prix">Trier par popularité</option>
                </select>
            </form>
            {% for article in articles %}
                {% if article.stock != 0 %}
                    <a href="index.php?route=article&id={{ article.id }}">
                        <article class="products">                                
                            <figure>
                                <img src="{{ article.image.getUrl() }}" alt= "{{ article.image.getAlt() }}"/>
                            </figure>
                            <h2>{{article.name}}</h2>                                
                            <p class="price">{{article.price}} €</p>
                        </article>
                    </a>
                {% else %}
                    <a>
                        <article class="products">
                            <p class="out-of-stock">Rupture de stock</p>                                
                            <figure>
                                <img src="{{ article.image.getUrl() }}" alt= "{{ article.image.getAlt() }}"/>
                            </figure>
                            <h2>{{article.name}}</h2>                                
                            <p class="price">{{article.price}} €</p>
                        </article>
                    </a>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}
