{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="content" class="article">
        <section class="product">
            <h1>{{article.name}}</h1>
                <figure>
                    <img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
                </figure>

                   
                <form action="index.php?route=cart" method="get">
                    <label>{{article.price}} €</label>
                    <input type="number" value="1"/>
                    <input class="add-to-cart" type="button" value="Ajouter au pannier"/>
                </form>
                    
                <table>
                    <thead>
                    <tr >
                        <td><h3 class="btn-description">Description<h3></td>
                        <td><h3 href="#table" class="btn-ingredients">Ingrédients<h3></td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="description"> {{article.description | raw}}</td>
                            <td class="ingredients">{{article.ingredients | raw}}</td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </main>
{% endblock %}

{% block javascript %}
<script src="assets/js/article.js" defer></script>
{% endblock %}