{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="article">
        <section class="product">
            <h1>{{article.name}}</h1>
                <figure>
                    <img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
                </figure>

                   
                <form action="index.php?route=add-to-cart&id={{ article.id }}" method="post">
                    <label>{{ article.price }} €</label>
                    <input type="number" name="quantity" value="1">
                    <input class="add-to-cart" type="submit" value="Ajouter au panier">
                </form>

                {% if error is defined %}
                    <p id="error-msg">{{ error }}</p>
                {% endif %}
                {% if success is defined %}
                    <p id="success-msg">{{ success }}</p>
                {% endif %}
                        
                <table>
                    <thead>
                    <tr >
                        <td><h3 class="btn-description">Description<h3></td>
                        <td><h3 href="#table" class="btn-ingredients">Ingrédients<h3></td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="description"> {{article.description | raw}}</td>
                            <td class="ingredients">{{article.ingredients | raw}}</td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/article.js" defer></script>
    <script src="assets/js/error-success.js" defer></script>
{% endblock %}