{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="cart">
        <header>
            <h2>Mon panier</h2>
            <p id="cart-total-price">Total : {{totalPrice}}€</p>
        </header>
        <main>
        <pre>
            {{ dump(cart) }}
        </pre>
            {% for item in cart.items %}
                <form action="index.php?route=deleteFromCart" method="post" class="articles">
                    <fieldset>
                        <label for="item{{ item.id }}">{{ item.name }}</label>
                        <input type="hidden" name="itemId" value="{{ item.id }}">
                        <button type="submit" name="delete" value="Supprimer" class="btn-delete">Supprimer</button>
                    </fieldset>
                </form>
            {% endfor %}
            {% if error is defined %}
                <p id="error-msg">{{ error }}</p>
            {% endif %}
            {% if success is defined %}
                <p id="success-msg">{{ success }}</p>
            {% endif %}
        </main>
        <footer>
            <a class="btn btn-cart-back" href="index.php">Continuer mes achats</a>
            <a class="btn btn-cart-order" href="index.php?route=pay">Finaliser la commande</a>
        </footer>
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/error-success.js" defer></script>
    <script src="assets/js/count-cart.js" defer></script>
{% endblock %}