{% extends "layout.html.twig" %}

{% block title %}
	{{ category.name }}
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="articles">

		<section class="header-search" aria-label="Formulaire pour trier les produits">
			<h1>{{ category.name }}</h1>

			<form action="sort-result-category" method="POST" class="form-sort">
				<input type="hidden" name="slug" value="{{ category.slug }}">
				<label for="sort">Filtrer les résultats</label>
				<select name="order-by" class="order-by" id="sort">
					<option value="">Choisir une option</option>
					<option value="price_asc">Trier par prix croissant</option>
					<option value="price_desc">Trier par prix décroissant</option>
					<option value="popularity">Trier par popularité</option>
				</select>
				<button class="btn-search-form" type="submit">Rechercher</button>
			</form>
		</section>

		<section class="main-articles" aria-label="Liste des articles de la catégorie {{ category.slug }}">
			<h2>Produit dans la catégorie
				{{ category.slug }}</h2>
			{% for article in articles %}
				{% if article.stock != 0 %}
					<article class="card">
						<a href="/article/{{ article.slug }}">
							<figure class="card-img">
								<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
							</figure>

							<div class="card-body">
								<h3 class="card-title">{{ article.name }}</h3>
								<p class="card-price">{{ article.price }}€</p>
							</div>
						</a>
					</article>
				{% else %}
					<article class="card-out-of-stock">
						<figure class="card-img">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
						</figure>

						<div class="card-body">
							<h3 class="card-title">{{ article.name }}</h3>
							<p class="card-price">{{ article.price }}€</p>
						</div>
						<p class="out-of-stock">Rupture de stock</p>
					</article>
				{% endif %}
			{% endfor %}
		</section>

	</main>
{% endblock %}

{% block javascript %}{% endblock %}
