{% extends "layout.html.twig" %}

{% block title %}
	{{ category.name }}
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="articles" role="main">

		<section class="header-search" aria-label="Formulaire pour trier les produits">
			<h1>{{ category.name }}</h1>

			<form action="sort-result-category" method="POST" class="form-sort">
				<input type="hidden" name="slug" value="{{ category.slug }}">
				<label for="sort">Filtrer les résultats</label>
				<select name="order-by" class="order-by" id="sort">
					<option value="">Choisir une option</option>
					<option value="price_asc">Trier par prix croissant</option>
					<option value="price_desc">Trier par prix décroissant</option>
					<option value="popularity">Trier par popularité</option>
				</select>
				<button class="btn-search-form" type="submit">Rechercher</button>
			</form>
		</section>

		<section class="main-articles" aria-label="Liste des articles de la catégorie {{ category.slug }}">
			<h2>Produit dans la catégorie
				{{ category.slug }}</h2>
			{% for article in articles %}
				<article class="card" aria-labelledby="title-{{ article.slug }}">
					<a href="/article/{{ article.slug }}">
						<figure class="card-img">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
						</figure>
						<h3 id="title-{{ article.slug }}" class="card-title">{{ article.name }}</h3>
						<p class="card-price">{{ article.price }}€</p>
					</a>
					{% if article.stock == 0 %}
						<p class="out-of-stock" aria-label="Out of stock">Rupture de stock</p>
					{% endif %}
				</article>
			{% endfor %}
		</section>

	</main>
{% endblock %}

{% block javascript %}{% endblock %}
