{% extends "layout.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="content" class="home">
        <section class="banner">
                <h1>TimberWolf</h1>
                <button  class="btn-1" type="button"><a href="index.php?route=articles">Nos Produits</a></button>
        </section>

        <section class="top-sales">
            <h2>Nos meilleurs ventes</h2>
            {% for article in articles %}
            <a href="index.php?route=article&id={{ article.id }}">
                <article class="products">
                    <figure>
                        <img src="{{ article.image.getUrl() }}" alt= "{{ article.image.getAlt() }}"/>
                    </figure>
                    <p>{{article.name}}</p>
                    <p class="price">{{article.price}} €</p>
                </article>
            </a>
            {% endfor %}
        </section>
        <section class="about">
            <h2>A propos</h2>
            <p>Nous sommes une équipe passionnée par le bien-être animal et engagée à fournir les meilleurs produits et services pour le bonheur et la santé de vos compagnons à quatre pattes.</p>
            <article class="about-schedules"> 
                <h3 class="schedules-btn">+ Nos horaires</h3>
                <ul class="schedules">
                    <li>Lundi : 10:00-19:00</li>
                    <li>Mardi : 10:00-19:00</li>
                    <li>Mercredi : 10:00-19:00</li>
                    <li>Jeudi : 10:00-19:00</li>
                    <li>Vendredi : 10:00-19:00</li>
                </ul>
            </article>
            <article class="about-coordinates">    
                <h3 class="coordinates-btn">+ Nos coordonnées</h3>
                <ul class="coordinates">
                    <li><a href="mailto:contact@timberwolf.fr"><i class="fa-solid fa-envelope"></i> contact@timberwolf.fr</a></li>
                    <li><a href="tel:0298000000"><i class="fa-solid fa-phone"></i> 02.98.00.00.00</a></li>
                    <li>Esplanade du général de Gaulle</li>
                    <li>Pont de buis-lès-Quimerch</li>
                    <li>Code postal : 29590</li>            
                </ul>
                <div class="container-map">
                    <div id="map"></div>
                </div>
            </article>
        </section>
        
    </main>
{% endblock %}

{% block javascript %}
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
</script>
<script src="assets/js/home.js" defer></script>
{% endblock %}