{% extends "layout.html.twig" %}

{% block title %}
	Articles
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="articles">
		<header>
			<h1>Tout nos produits</h1>


			<form action="sort-result-articles" method="POST" class="form-sort">
				<label for="sort">Filtrer les resultats</label>
				<select name="order-by" class="order-by" id="sort">
					<option value="">Choisir une option</option>
					<option value="price_asc">Trier par prix croissant</option>
					<option value="price_desc">Trier par prix décroissant</option>
					<option value="popularity">Trier par popularité</option>
				</select>
				<button class="btn-search-form" type="submit">Rechercher</button>
			</form>
		</header>

		<main>
			{% for article in articles %}
				{% if article.stock != 0 %}
					<article class="card">
						<a href="/article/{{ article.slug }}">
							<figure class="card-img">
								<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
							</figure>

							<span class="card-body">
								<h3 class="card-title">{{ article.name }}</h3>
								<p class="card-price">{{ article.price }}€</p>
							</span>
						</a>
					</article>
				{% else %}
					<article class="card">
						<figure class="card-img">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
						</figure>

						<span class="card-body">
							<h3 class="card-title">{{ article.name }}</h3>
							<p class="card-price">{{ article.price }}€</p>
						</span>
						<p class="out-of-stock">Rupture de stock</p>
					</article>
				{% endif %}
			{% endfor %}
		</main>
	</main>
</main>{% endblock %}{% block javascript %}{% endblock %}
