{% extends "layout.html.twig" %}

{% block title %}
	Accueil
	{{ parent() }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="assets/OwlCarousel2-master/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/OwlCarousel2-master/dist/assets/owl.theme.default.min.css">
{% endblock %}

{% block main %}
	<main id="content" class="home">
		<section class="banner">
			<h1>Accessoires et nourritures pour Chien</h1>
			<a class="btn-articles" href="index.php?route=articles">
				<span>Nos Produits</span>
			</a>
		</section>

		<section class="home-nav">
			<h2>Acheter par catégories</h2>
			<ul>
				<li class="dog-food">
					<a href="index.php?route=dog-food">Croquettes</a>
				</li>
				<li class="treats">
					<a href="index.php?route=treats">Friandises</a>
				</li>
				<li class="toys">
					<a href="index.php?route=toys">Jouets</a>
				</li>
			</ul>
		</section>

		<section class="top-sales">
			<h2>Nos meilleurs ventes</h2>
			<div class="owl-carousel" >
				{% for article in articles %}
					{% if article.stock != 0 %}
						<article class="product">
							<a href="index.php?route=article&id={{ article.id }}">
								<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
								<h3>{{ article.name }}</h3>
								<p class="price">{{ article.price }}€</p>
							</a>
						</article>
					{% else %}
						<article class="product">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
							<h3>{{ article.name }}</h3>
							<p class="price">{{ article.price }}€</p>
							<p class="out-of-stock">Rupture de stock</p>
						</article>
					{% endif %}
				{% endfor %}
			</div>
		</section>

		<section class="section-adopt">
		  <h2>Animaux disponibles à l'adoption</h2>
		</section>

	</table>
</section></main>{% endblock %}{% block javascript %}<script src="assets/js/slider.js" defer></script><script src="assets/js/rescuegroups.js" defer></script><script src="node_modules/jquery/dist/jquery.min.js"></script><script src="assets/OwlCarousel2-master/dist/owl.carousel.min.js"></script>{% endblock %}
