{% extends "layout.html.twig" %}

{% block title %}
	Accueil
	{{ parent() }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="assets/OwlCarousel2-master/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/OwlCarousel2-master/dist/assets/owl.theme.default.min.css">
{% endblock %}

{% block main %}
	<main id="content" class="home">
		<section class="banner">
			<h1>Accessoires et nourritures pour Chien</h1>
			<a class="btn-articles" href="/articles">
				<span>Nos Produits</span>
			</a>
		</section>

		<section class="home-nav">
			<h2>Acheter par catégories</h2>
			<ul>
				<li class="dog-food">
					<a href="/categorie/croquettes/">Croquettes</a>
				</li>
				<li class="treats">
					<a href="/categorie/mastications/">Friandises</a>
				</li>
				<li class="toys">
					<a href="/categorie/jouets/">Jouets</a>
				</li>
			</ul>
		</section>

		<section class="top-sales">
			<h2>Nos meilleurs ventes</h2>
			<div class="owl-carousel">
				{% for article in articles %}
					{% if article.stock != 0 %}
						<article class="product">
							<a href="/article/{{ article.slug }}">
								<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
								<h3>{{ article.name }}</h3>
								<p class="price">{{ article.price }}€</p>
							</a>
						</article>
					{% else %}
						<article class="product">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
							<h3>{{ article.name }}</h3>
							<p class="price">{{ article.price }}€</p>
							<p class="out-of-stock">Rupture de stock</p>
						</article>
					{% endif %}
				{% endfor %}
			</div>
		</section>

		<section class="why-choose-us">
			<h2>Pourquoi Nous Choisir ?</h2>
			<article>
				<img src="assets/media/quality.svg" alt='qualité'/>
				<h3>Qualité et Éthique</h3>
				<p>Nous sélectionnons rigoureusement nos produits pour leur qualité et le respect des animaux.</p>
			</article>
			<article>
				<img src="assets/media/adopt.svg" alt='engagement social'/>
				<h3>Engagement Social</h3>
				<p>
					Une partie de nos profits est reversée aux refuges et aux associations partenaires.</p>
			</article>
			<article>
				<img src="assets/media/earth.svg" alt='environnement terre'/>
				<h3>Engagement Environnemental</h3>
				<p>Nous minimisons l'utilisation de plastique et le suremballage, en privilégiant le papier kraft recyclé.</p>
			</article>
		</section>
	</main>
{% endblock %}
{% block javascript %}
	<script src="assets/js/slider.js" defer></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="assets/OwlCarousel2-master/dist/owl.carousel.min.js"></script>
{% endblock %}
