{% extends "layout.admin.html.twig" %}

{% block title %}
	Toutes les commandes - Timberwolf Admin
{% endblock %}

{% block main %}
	<!-- Begin Page Content -->
	<div
		class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Toutes les commandes</h1>
		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-body">
				{% if orders is not empty %}
					<div class="table-responsive">
						<table class="table table-bordered" id="orderTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Numéro</th>
									<th>Date</th>
									<th>Client</th>
									<th>Total</th>
									<th>Status</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Numéro</th>
									<th>Date</th>
									<th>Client</th>
									<th>Total</th>
									<th>Status</th>
								</tr>
							</tfoot>
							<tbody>
								{% for order in orders %}
									<tr>
										<td>
											<a href="/admin/orders/{{ order.id }}">N°{{ order.id }}</a>
										</td>
										<td>
											{{ order.createdAt|date("d/m/Y") }}</td>
										<td>
											<a href="/admin/users/{{ order.userId }}">{{ order.user.firstName }}
												{{ order.user.lastName }}</a>
										</td>
										<td>{{ order.totalPrice }}</td>
										<td>{{ order.status }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<p>Aucune commande trouvée.</p>
				{% endif %}

			</div>
		</div>
		{# </div> #}
		<!-- /.container-fluid -->
	{% endblock %}
	{% block javascript %}{% endblock %}
