{% extends "layout.admin.html.twig" %}

{% block title %}
	Tous les utilisateurs - Timberwolf Admin
{% endblock %}

{% block main %}
	<div
		class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Tous les utilisateurs</h1>

		<div class="card shadow mb-4">
			<div class="card-body">
				{% if users is not empty %}
					<div class="table-responsive">
						<table class="table table-bordered" id="orderTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>ID</th>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Adresse mail</th>
									<th>Nombre de commandes</th>
									<th>Total achat</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Adresse mail</th>
									<th>Nombre de commandes</th>
									<th>Total achat</th>
								</tr>
							</tfoot>
							<tbody>
								{% for user in users %}
									<tr>
										<td>
											<a href="/admin/users/{{ user.id }}">{{ user.id }}</a>
										</td>
										<td>{{ user.firstName }}</td>
										<td>{{ user.lastName }}</td>
										<td>{{ user.email }}</td>
										<td>{{ user.total_orders }}</td>
										<td>{{ user.total_value }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<p>Aucun utilisateur trouvé 😞.</p>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}

{% block javascript %}{% endblock %}
