{% extends "layout.html.twig" %}

{% block title %}
	Admin
	{{ parent() }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
{% endblock %}

{% block main %}
	<main id="content" class="admin">
		{% if session is defined and session.role == "ADMIN" %}
			{# Voir les commandes #}

			<h2 class="mt-4">Toutes les commandes :</h2>

			<ul class="all-orders list-group">
				{% if orders is not empty %}
					{% for order in orders %}
						<li class="list-group-item">Commande n°{{ order.id }}
							date :
							{{ order.createdAt }},
							{{ order.userId.firstName }}
							{{ order.userId.lastName }}, total :
							<span class="plus">+</span>
							<ul class="order-articles">
								{% set orderArticles = ordersArticles[order.id] %}
								{% if orderArticles is not empty %}
									{% for article in orderArticles %}
										<li>
											<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="index.php?route=article&id={{ article.articleId.id }}">
												{{ article.name }}
											</a>
										</li>
									{% endfor %}
								{% else %}
									<li>Aucun article trouvé pour cette commande.</li>
								{% endif %}
							</ul>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item">Aucune commande trouvée.</li>
				{% endif %}
			</ul>

			<form action="index.php?route=logout" class="disconnect" method="post">
				<button type="submit" class="btn btn-primary">Se déconnecter</button>
			</form>
		{% else %}
			<h1>Vous n’êtes pas autorisé à accéder à cette page</h1>
			<a class="btn-home" href="index.php">Retourner à l'accueil</a>
		{% endif %}
		{% if error is defined %}
			<p class="error" id="error-msg">{{ error }}</p>
		{% endif %}

	</main>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
	<script src="assets/js/admin.js" defer></script>
	<script src="assets/js/error-success.js" defer></script>
{% endblock %}
