{% extends "layout.html.twig" %}

{% block title %}
	Admin - Utilisateurs
	{{ parent() }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
{% endblock %}

{% block main %}
	<main id="content" class="admin">
		{% if session is defined and session.role == "ADMIN" %}
			{# Gestion des utilisateur #}
			{% for user in users %}
				<form action="index.php?route=delete" method="post" class="users row g-2">
					<label class="col-sm-auto col-form-label" for="user{{ user.id }}">{{ user.firstName }}
						{{ user.lastName }}</label>
					<input type="hidden" name="userId" value="{{ user.id }}">
					<button type="submit" name="delete" value="Supprimer" class="btn btn-danger col-sm-auto">Supprimer</button>
				</form>
			{% endfor %}

			<form action="index.php?route=logout" class="disconnect" method="post">
				<button type="submit" class="btn btn-primary">Se déconnecter</button>
			</form>
		{% else %}
			<h1>Vous n’êtes pas autorisé à accéder à cette page</h1>
			<a class="btn-home" href="index.php">Retourner à l'accueil</a>
		{% endif %}
		{% if error is defined %}
			<p class="error" id="error-msg">{{ error }}</p>
		{% endif %}

	</main>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
	<script src="assets/js/admin.js" defer></script>
	<script src="assets/js/error-success.js" defer></script>
{% endblock %}
