{% extends "layout.html.twig" %}

{% block title %}
    Panier
    {{ parent() }}
{% endblock %}

{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block main %}
    <main id="content" class="cart">
        <h1>Mon panier</h1>
        <ul class="list-articles">
            {% for article in cart %}
                <li class="article">
                    {{ article.name }} {{ article.price }} €
                    <a class="btn-delete-from-cart" data-article="{{ article.id }}">
                        <i class="fa-solid fa-x"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <form action="stripe/checkout.php" method="POST">
            <label id="cart-total-price">
               Total : <span class="total-price">{{ totalPrice|number_format(2, '.', ',') }}</span>€
            </label>
            <input type="hidden" name="totalPrice" value="{{totalPrice}}">
            <a class="btn btn-cart-back" href="index.php">Continuer mes achats</a>
            {% if session is defined and session is not null %}
                {% if cart != [] %}
                    <button type="submit" id="checkout-button">Valider et payer</button>
                {% else %}
                    <a class="btn-shop" href="index.php?route=articles">Remplir mon panier</a>
                {% endif %}
            {% else %}
                <a class="btn-login" href="index.php?route=login">Connectez-vous pour payer</a>
            {% endif %}
        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/error-success.js" defer></script>
{% endblock %}