{% extends "layout.html.twig" %}

{% block title %}
    Panier
    {{ parent() }}
{% endblock %}

{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block main %}
    <main id="content" class="cart">
        <section class="cart-payement">
        <h1>Mon panier</h1>
        <ul class="list-articles">
            {% for article in cart %}
                <li class="article">
                    {{ article.name }} {{ article.price }} €
                    <a class="btn-delete-from-cart" data-article="{{ article.id }}">
                        <i class="fa-solid fa-x"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <form action="" method="POST" class="update-shipping-costs">
                <legend>Frais de port</legend>
                <fieldset>
                    <input type="radio" id="udp" name="drone" value="udp"/>
                    <label for="udp">2-3 jours ouvrés Udp (11.99€)</label>
                </fieldset>

                <fieldset>
                    <input type="radio" id="chronopost" name="drone" value="chronopost"  />
                    <label for="chronopost">Chronopost 4-5 jours ouvrés (9.99€)</label>
                </fieldset>

                <fieldset>
                    <input type="radio" id="home" name="drone" value="home"/>
                    <label for="home">Venir chercher sur place (Gratuit)</label>
                </fieldset>
        </form>

        <form action="stripe/checkout.php" method="POST">
            <label id="cart-total-price">
               Total : <span class="total-price">{{ totalPrice|number_format(2, '.', ',') }}</span>€
            </label>
            <input type="hidden" name="totalPrice" value="{{totalPrice}}">
            <a class="btn btn-cart-back" href="index.php">Continuer mes achats</a>
            {% if session is defined and session is not null %}
                {% if cart != [] %}
                    <button type="submit" id="checkout-button">Valider et payer</button>
                {% endif %}
            {% else %}
                {% if cart != [] %}
                    <a class="btn-login" href="index.php?route=login">Connectez-vous pour payer</a>
                {% endif %}
            {% endif %}
        </form>
        </section>
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/error-success.js" defer></script>
{% endblock %}