{% extends "layout.html.twig" %}

{% block title %}
	Panier
	{{ parent() }}
{% endblock %}

{% block head %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block main %}
	<main id="content" class="cart">
		<section class="cart-payement">
			<h1>Mon panier
				{% if cart is empty %}est vide...
				{% endif %}
			</h1>
			{% if cart is empty %}
				<p>Vous souhaitez passer à la caisse sans croquettes, jouets ou mastication pour vos amis à 4 pattes ? 😭😭😭</p>
				<p>
					<a class="btn btn-cart-back" href="/">Revenir à la boutique</a>
				</p>
			{% else %}
				<ul class="list-articles">
					{% for article in cart %}
						<li class="article">
							<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
							<p>{{ article.name }}
								-
								{{ article.price }}€
							</p>
							<span class="increment-decrement-btns">
								<button class="btn-increment" data-article="{{ article.id }}" data-action="increment">+</button>
								<span class="quantity" data-article="{{ article.id }}">{{ article.quantity }}</span>
								<button class="btn-decrement" data-article="{{ article.id }}" data-action="decrement">-</button>
							</span>
						</li>
					{% endfor %}
				</li>
			</ul>

			<form action="" method="POST" class="update-shipping-costs" id="shippingForm">
				<legend>Frais de port</legend>
				{% for cost in shipping_costs %}
					<fieldset>
						<input type="radio" id="{{ cost.name }}" name="drone" value="{{ cost.id }}" required/>
						<label for="{{ cost.name }}">{{ cost.description }}
							(
							{% if cost.price == 0 %}Gratuit
							{% else %}
								{{ cost.price }}€
							{% endif %})</label>
					</fieldset>
				{% endfor %}
			</form>

			<form class="form-checkout" action="stripe/checkout.php" method="POST">

				<a class="btn btn-cart-back" href="/">Continuer mes achats</a>
				<label id="cart-total-price">
					Total :
					<span class="total-price">{{ totalPrice|number_format(2, '.', ',') }}
						€</span>
				</label>
				<input type="hidden" name="totalPrice" value="{{totalPrice}}">
				{% if session is defined and session is not null %}
					{% if cart != [] %}
						<button type="submit" id="checkout-button">Valider et payer</button>
					{% endif %}
				{% else %}
					{% if cart != [] %}
						<a class="btn-login" href="/login">Connectez-vous pour payer</a>
					{% endif %}
				{% endif %}
			</form>
		{% endif %}
	</section>
</main>{% endblock %}{% block javascript %}
<script src="assets/js/error-success.js" defer></script>{% endblock %}
