{% extends "layout.html.twig" %}

{% block title %}
    Panier
    {{ parent() }}
{% endblock %}

{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block main %}
    <main id="content" class="cart">
        <h1>Mon panier</h1>
        {% for article in cart %}
            <fieldset class="cart-article">
                <label for="article{{ article.id }}">
                    {{ article.name }} {{ article.price }} €
                </label>
                <a class="btn-delete-from-cart" data-article="{{ article.id }}">
                    <i class="fa-solid fa-x"></i>
                </a>
            </fieldset>
        {% endfor %}
        <form action="stripe/checkout.php" method="POST">
            <label id="cart-total-price">
                Total : <span class="amount">{{totalPrice}}</span>€
            </label>
            <input type="hidden" name="totalPrice" value="{{totalPrice}}">
            <a class="btn btn-cart-back" href="index.php">Continuer mes achats</a>
            {% if session is defined and session is not null %}
                <button type="submit" id="checkout-button">Valider et payer</button>
            {% else %}
                <a class="btn-login" href="index.php?route=login">Connectez-vous pour payer</a>
            {% endif %}
        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/error-success.js" defer></script>
{% endblock %}