{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block main %}
            <article class="product">
                <img src="{{ article.image.getUrl() }}" alt= "{{ article.image.getAlt() }}"/>
                <p>{{article.name}}</p>
                <p>{{article.description}}</p>
                <p>{{article.price}} €</p>
            </article>
{% endblock %}

{% block javascript %}
{% endblock %}