<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Découvrez nos accessoires et nourritures pour chien. Achetez en ligne les meilleures croquettes, friandises et jouets pour votre animal. Livraison rapide.">
		<title>
			{% block title %}{% endblock %}| TimberWolf</title>
		{% block head %}{% endblock %}
		<link href="./assets/font/css/fontawesome.css" rel="stylesheet">
		<link href="./assets/font/css/brands.css" rel="stylesheet">
		<link href="./assets/font/css/solid.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/styles/css/style.css">
	</head>
	<body>
		<header class="header">
			<a href="index.php" class="logo">
				<img src="assets/media/logo.svg" alt="logo"/>
				<p>TimberWolf</p>
			</a>


			<menu class="icons">
				<li>
					<a class="myBtn cart-icon">
						<span class="fa-stack has-badge" data-count="{{count}}">
							<i class="fa fa-shopping-cart fa-stack-1x white-cart"></i>
						</span>
					</a>
				</li>
				<li class="search-btn">
					<i class="fa-solid fa-magnifying-glass"></i>
				</li>
				<li id="hamburger-icon" title="menu-burger">
					<span></span>
					<span></span>
					<span></span>
				</li>
			</menu>


			<menu class="menu">
				<li>
					<a href="index.php">Accueil</a>
				</li>
				<li>
					<a href="index.php?route=categorie&slug=croquettes">Croquettes</a>
				</li>
				<li>
					<a href="index.php?route=categorie&slug=mastication">Friandises</a>
				</li>
				<li>
					<a href="index.php?route=categorie&slug=jouets">Jouets</a>
				</li>
				<li>
					<a class="myBtn">Panier</a>
				</li>
				{% if session is defined and session is not null %}
					<li>
						<a href="index.php?route=account">Mon compte</a>
					</li>
					<li>
						<a href="index.php?route=logout">Se déconnecter</a>
					</li>
				{% else %}
					<li>
						<a href="index.php?route=login">Se connecter</a>
					</li>
					<li>
						<a href="index.php?route=register">S'inscrire</a>
					</li>
				{% endif %}
				<li>
					<a href="index.php?route=contact">Contact</a>
				</li>
				<li class="search-btn menu-desktop">
					<i class="fa-solid fa-magnifying-glass"></i>
				</li>
			</menu>

			<form class="search closed" action="index.php?route=articles-search" method="POST">
				<input class="input-searchbar" type="search" name="search" placeholder="Rechercher..."/>
				<input class="button-searchbar" type="submit" value="&#128269;"/>
			</form>

		</header>
		<aside id="myModal" class="modal-box">
			<div class="modal">
				<span id="close">&times;</span>
				<form action="index.php?route=cart" method="POST" id="modal-content">
					<h2>Panier</h2>
					<ul class="list-articles">
						{% for article in cart %}
							<li class="article">
								{{ article.name }}
								{{ article.price }}
								€
								<a class="btn-delete-from-cart" data-article="{{ article.id }}">
									<i class="fa-solid fa-x"></i>
								</a>
							</li>
						{% endfor %}
					</ul>
					<label id="cart-total-price">
						Total :
						<span class="total-price">{{ totalPrice|number_format(2, '.', ',') }}</span>
						€
					</label>
					<input type="submit" class="modal-btn" value="Payer" target="_blank">
				</form>
			</div>
		</aside>
		{% block main %}{% endblock %}
		<footer class="footer">
			<section>
				<a href="index.php">
					<h2 class='title'>TimberWolf</h2>
				</a>
				<ul>
					<li><a href="index.php">Acceuil</a></li>
					<li><a href="index.php?route=articles">Nos Produits</a></li>
					<li><a href="index.php#about">A propos</a></li>
					<li><a href="index.php?route=contact">Contactez-nous</a></li>
				</ul>
			</section>
			<section>
				<h2>Mon compte</h2>
				<ul>
					{% if session is defined and session is not null %}
						<li>
							<a href="index.php?route=account">Mon compte</a>
						</li>
						<li>
							<a href="index.php?route=logout">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a href="index.php?route=login">Se connecter</a>
						</li>
						<li>
							<a href="index.php?route=register">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
			</section>
			<section>
				<h2>Infos pratiques</h2>
				<ul>
					<li><a href="index.php?route=privacy">Politique de confidentialités</a></li>
					<li><a href="index.php?route=legal">Mentions légales</a></li>
					<li><a href="index.php?route=conditions">Conditions générale de vente</a></li>
					<li><a href="index.php?route=refund">Politique de remboursement</a></li>
				</ul>
			</section>
			<section class="social-networks">
				<h2>Suivez-nous sur :</h2>
				<ul>
					<li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
					<li><a href=""><i class="fa-brands fa-square-x-twitter"></i></a></li>
					<li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
				</ul>
			</section>
		</footer>
		{% block javascript %}{% endblock %}
		<script src="assets/js/layout.js" defer></script>
		<script src="assets/js/modal.js" defer></script>
		<script type="module" src="assets/js/main-cart.js"></script>
	</body>
</html>
