<!DOCTYPE html>
<html lang="fr">
	<head>
		<base href="http://Projet3wa.local/">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Découvrez nos accessoires et nourritures pour chien. Achetez en ligne les meilleures croquettes, friandises et jouets pour votre animal. Livraison rapide.">
		<title>
			{% block title %}{% endblock %}| TimberWolf</title>
		{% block head %}{% endblock %}
		<link href="./assets/font/css/fontawesome.css" rel="stylesheet">
		<link href="./assets/font/css/brands.css" rel="stylesheet">
		<link href="./assets/font/css/solid.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/styles/css/style.css">
	</head>
	<body>
		<header class="header">
			<a href="/" class="logo">
				<img src="assets/media/logo.svg" alt="logo"/>
				<p>TimberWolf</p>
			</a>


			<menu class="icons">
				<li>
					<a class="myBtn cart-icon">
						<span class="fa-stack has-badge" data-count="{{count}}">
							<i class="fa fa-shopping-cart fa-stack-1x white-cart"></i>
						</span>
					</a>
				</li>
				<li class="search-btn">
					<i class="fa-solid fa-magnifying-glass"></i>
				</li>
				<li id="hamburger-icon" title="menu-burger">
					<span></span>
					<span></span>
					<span></span>
				</li>
			</menu>


			<menu class="menu">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/categorie/croquettes/">Croquettes</a>
				</li>
				<li>
					<a href="/categorie/mastications/">Friandises</a>
				</li>
				<li>
					<a href="/categorie/jouets/">Jouets</a>
				</li>
				<li>
					<a class="myBtn">Panier</a>
				</li>
				{% if session is defined and session is not null %}
					<li>
						<a href="/account">Mon compte</a>
					</li>
					<li>
						<a href="/logout">Se déconnecter</a>
					</li>
				{% else %}
					<li>
						<a href="/login">Se connecter</a>
					</li>
					<li>
						<a href="/register">S'inscrire</a>
					</li>
				{% endif %}
				<li>
					<a href="/contact">Contact</a>
				</li>
				<li class="search-btn menu-desktop">
					<i class="fa-solid fa-magnifying-glass"></i>
				</li>
			</menu>

			<form class="search closed" action="/articles-search" method="POST">
				<input class="input-searchbar" type="search" name="search" placeholder="Rechercher..."/>
				<input class="button-searchbar" type="submit" value="&#128269;"/>
			</form>

		</header>
		<aside id="myModal" class="modal-box">
			<div class="modal">
				<span id="close">&times;</span>
				<form action="/cart" method="POST" id="modal-content">
					<h2>Panier</h2>
					{% if cart is empty %}
						<p>Votre panier est vide</p>
					{% else %}
						<ul class="list-articles">
							{% for article in cart %}
								<li class="article">
									<img src="{{ article.image.getUrl() }}" alt="{{ article.image.getAlt() }}"/>
									<p>{{ article.name }}
										-
										{{ article.price }}€
									</p>
									{% if stock != 0 %}
										<span class="increment-decrement-btns">
											<button class="btn-increment" data-article="{{ article.id }}" data-action="increment">+</button>
											<span class="quantity" data-article="{{ article.id }}">{{ article.quantity }}</span>
											<button class="btn-decrement" data-article="{{ article.id }}" data-action="decrement">-</button>
										</span>
									{% else %}
										<span class="increment-decrement-btns">
											<button class="btn-increment" data-article="{{ article.id }}" data-action="increment" disabled>+</button>
											<span class="quantity" data-article="{{ article.id }}">{{ article.quantity }}</span>
											<button class="btn-decrement" data-article="{{ article.id }}" data-action="decrement">-</button>
										</span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
						<label id="cart-total-price">
							Total :
							<span class="total-price">{{ totalPrice|number_format(2, '.', ',') }}</span>
							€
						</label>
						<input type="submit" class="modal-btn" value="Payer" target="_blank">

					{% endif %}
				</form>
			</div>
		</aside>
		{% block main %}{% endblock %}
		<footer class="footer">
			<section>
				<a href="/">
					<h2 class='title'>TimberWolf</h2>
				</a>
				<ul>
					<li><a href="mailto:contact@timberwolf.fr"><i class="fa-solid fa-envelope"></i>contact@timberwolf.fr</a></li>
					<li><a href="tel:0298000000"><i class="fa-solid fa-phone"></i>02.98.00.00.00</a></li>
					<li><a href="/adoption"><i class="fa-solid fa-paw"></i>Adopter un animal</a></li>
				</ul>
			</section>

			<section>
				<h2>Mon compte</h2>
				<ul>
					{% if session is defined and session is not null %}
						<li>
							<a href="/account">Mon compte</a>
						</li>
						<li>
							<a href="/logout">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a href="/login">Se connecter</a>
						</li>
						<li>
							<a href="/register">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
			</section>
			<section>
				<h2>Infos pratiques</h2>
				<ul>
					<li><a href="/privacy">Politique de confidentialités</a></li>
					<li><a href="/legal">Mentions légales</a></li>
					<li><a href="/conditions">Conditions générale de vente</a></li>
					<li><a href="/refund">Politique de remboursement</a></li>
				</ul>
			</section>
			<section class="social-networks">
				<h2>Suivez-nous sur :</h2>
				<ul>
					<li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
					<li><a href=""><i class="fa-brands fa-square-x-twitter"></i></a></li>
					<li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
				</ul>
			</section>
		</footer>
		{% block javascript %}{% endblock %}
		<script src="assets/js/layout.js" defer></script>
		<script src="assets/js/modal.js" defer></script>
		<script type="module" src="assets/js/main-cart.js"></script>
	</body>
</html></body></html>
